<form [formGroup]="form" (ngSubmit)="agregar($event)">
    <div class="limiter animated fadeIn "><br>
        <div class="container">

            <h3>DATOS DEL PADRE DE FAMILIA </h3><br>
            <hr>
            <div class="row">

                <div class="col">

                    <label for="formGroupExampleInput">NOMBRES </label>
                    <input type="text" class="form-control col-md-9-center" formControlName="uno" aria-describedby="emailHelp">
                </div>
                <div class="col">
                    <label for="formGroupExampleInput">APELLIDOS </label>
                    <input type="text" formControlName="dos" class="form-control col-md-9-center" aria-describedby="emailHelp">
                </div>

            </div><br>
            <div class="row" id="">
                <div class="col">
                    <label for="formGroupExampleInput">TELEFONO</label>
                    <input type="text" formControlName="tres" class="form-control col-md-9-center" aria-describedby="emailHelp">
                </div>
                <div class="col">
                    <label for="formGroupExampleInput">DIRECCION</label>
                    <input type="text" formControlName="cuatro" class="form-control col-md-9-center" aria-describedby="emailHelp">
                </div>
            </div><br>
            <hr>
            <h3>DATOS DEL ESTUDIANTE</h3><br>
            <div class="row">
                <div class="col">
                    <label for="formGroupExampleInput">NOMBRES </label>
                    <input type="text" formControlName="cinco" class="form-control col-md-9-center" aria-describedby="emailHelp">
                </div>
                <div class="col">
                    <label for="formGroupExampleInput">APELLIDOS </label>
                    <input type="text" formControlName="seis" class="form-control col-md-9-center" aria-describedby="emailHelp">
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <label for="formGroupExampleInput">DOCENTE</label>
                    <select class="form-control col-md-9-center" formControlName="siete">
                 <option ></option>
                 <option value="Leidy Camargo">Leidy Camargo</option>
                 <option value="Yaneth Valderrama">Yaneth Valderrama</option>   
                 <option value="Rocio Corrales">Rocio Corrales</option>  
                 <option value="Alba Barreto">Alba Barreto</option>         
                 </select>
                </div>
                <div class="col">
                    <label for="formGroupExampleInput">NIVEL</label>
                    <select class="form-control col-md-9-center" formControlName="ocho">
                 <option ></option>
                 <option value="Parvulos">Parvulos</option>
                 <option value="Pre-Jardin">Pre-Jardin</option>
                 <option value="Jardin">Jardin</option>  
                 <option value="Transicion">Transicion</option>         
                 </select>
                </div>
            </div><br>
            <hr>
            <!--  <input type="file" id="inputFileToLoad" class="form-control" placeholder="photo" /><br>
            <i class="glyphicon glyphicon-fire form-control-feedback"></i>
            <input type="text" id="response" formControlName="nueve" class="form-control" placeholder="Base-64 value" id="oculto" /><br><br> -->
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button class="btn btn-outline-primary btn-block" type="submit">REGISTRAR INFORMACION</button>
                </div>
                <div class="col-4"></div>
            </div><br>
        </div>
    </div>
</form><br><br>