<form [formGroup]="">
    <div class="limiter animated fadeIn" id="regist"><br>
        <div class="container">
            <h3>REGISTRO USUARIO </h3><br>
            <hr>
            <div class="row">
                <div class="col">
                    <label for="formGroupExampleInput">USUARIO </label>
                    <input type="email" class="form-control col-md-9" aria-describedby="emailHelp" id="emailU">
                </div>
                <div class="col">
                    <label for="formGroupExampleInput">CONTRASEÑA </label>
                    <input class="form-control col-md-9" type="password" id="passwordU">
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a class="btn btn-outline-primary btn-block">REGISTRAR USUARIO</a><br>
                </div>
                <div class="col-4"></div>
            </div>
            <hr>
            <h3>DATOS DEL PADRE DE FAMILIA </h3><br>
            <hr>
            <div class="row">

                <div class="col">

                    <label for="formGroupExampleInput">NOMBRES </label>
                    <input type="text" class="form-control col-md-9" id="nombresP" aria-describedby="emailHelp">
                </div>
                <div class="col">
                    <label for="formGroupExampleInput">APELLIDOS </label>
                    <input type="text" class="form-control col-md-9" id="apellidosP" aria-describedby="emailHelp">
                </div>

            </div><br>
            <div class="row" id="">
                <div class="col">
                    <label for="formGroupExampleInput">TELEFONO</label>
                    <input type="text" class="form-control col-md-9" id="telefono" aria-describedby="emailHelp">
                </div>
                <div class="col">
                    <label for="formGroupExampleInput">DIRECCION</label>
                    <input type="text" class="form-control col-md-9" id="direccion" aria-describedby="emailHelp">
                </div>
            </div><br>
            <hr>
            <h3>DATOS DEL ESTUDIANTE</h3><br>
            <div class="row">
                <div class="col">
                    <label for="formGroupExampleInput">NOMBRES </label>
                    <input type="text" class="form-control col-md-9" id="nombres" aria-describedby="emailHelp">
                </div>
                <div class="col">
                    <label for="formGroupExampleInput">APELLIDOS </label>
                    <input type="text" class="form-control col-md-9" id="apellidos" aria-describedby="emailHelp">
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <label for="formGroupExampleInput">DOCENTE</label>
                    <select class="form-control col-md-9" id="selectD">
                 <option ></option>
                 <option value="Leidy Camargo">Leidy Camargo</option>
                 <option value="Yaneth Valderrama">Yaneth Valderrama</option>   
                 <option value="Rocio Corrales">Rocio Corrales</option>  
                 <option value="Alba Barreto">Alba Barreto</option>         
                 </select>
                </div>
                <div class="col">
                    <label for="formGroupExampleInput">NIVEL</label>
                    <select class="form-control col-md-9" id="selectN">
                 <option ></option>
                 <option value="Parvulos">Parvulos</option>
                 <option value="Pre-Jardin">Pre-Jardin</option>
                 <option value="Jardin">Jardin</option>  
                 <option value="Transicion">Transicion</option>         
                 </select>
                </div>
            </div><br>
            <hr>
            <input type="file" id="inputFileToLoad" class="form-control" placeholder="photo" /><br>
            <i class="glyphicon glyphicon-fire form-control-feedback"></i>
            <input type="text" id="response" class="form-control" placeholder="Base-64 value" id="oculto" /><br><br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a class="btn btn-outline-primary btn-block">REGISTRAR INFORMACION</a>
                </div>
                <div class="col-4"></div>
            </div><br>
        </div>
    </div>
</form><br><br>