<nav class="navbar navbar-expand-lg navbar-light ">

    <a class="navbar-brand" href="#">
        <img src="assets/logo.jpg" width="70" height="50" alt=""> || JARDIN INFANTIL LA CASITA ENCANTADA ||
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- cuando el administrador ingrese -->
        <ul class="navbar-nav " id="ulNavbar" *ngIf="isAdmin ==true; else usuario ">
            <li class="nav-item">
                <a class="nav-link" type="button" id="inicioSesion"><img src="assets/actividades.png" width="40" height="40" alt="" [routerLink]="['ActividadesJardin']"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" id="inicioSesion"><img src="assets/docente.png" width="40" height="40" alt="" [routerLink]="['DocentesJardin']"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" id="inicioSesion"><img src="assets/cronograma.png" width="40" height="40" alt="" [routerLink]="['CronogramaJardin']"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" id="inicioSesion"><img src="assets/registro.png" width="40" height="40" alt="" [routerLink]="['Registro']"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" id="inicioSesion"><img src="assets/actualizar.png" width="40" height="40" alt="" [routerLink]="['Actualizar']"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" id="inicioSesion"><img src="assets/registrarU.png" width="40" height="40" alt="" [routerLink]="['RegistroUsuario']"></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['Inicio']" type="button" (click)=" onLogged()" id="inicioSesion"><img src="assets/cerrarSesion.png" width="40" height="40" alt=""></a>
            </li>
            <li class="nav-item btn-sm ml-auto">
                <a class="nav-link">hola: {{isAdmin}}</a>
            </li>
        </ul>

        <ng-template #usuario>

            <ul class="navbar-nav mr-auto" id="ulNavbar" *ngIf="isAdmin ==false; else login ">

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['Actividades']">ACTIVIDADES</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['Equipo']">EQUIPO</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['Cronograma']">CRONOGRAMA</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['Informacion']">INFORMACION</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['Informacion']">PAGOS</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['Inicio']" type="button" (click)=" onLogged()" id="inicioSesion"><img src="assets/cerrarSesion.png" width="40" height="40" alt=""></a>
                </li>
            </ul>



        </ng-template>

        <ng-template #login>
            <ul class="navbar-nav mr-auto" id="ulNavbar">

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['Actividades']">ACTIVIDADES</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['Equipo']">EQUIPO</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['Cronograma']">CRONOGRAMA</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['Informacion']">INFORMACION</a>
                </li>



            </ul>
            <ul class="navbar-nav " id="ulNavbar">
                <li class="nav-item">
                    <a class="nav-link" type="button" id="inicioSesion"><img src="assets/usuario.png" width="40" height="40" alt="" [routerLink]="['InicioSesion']"></a>
                </li>
            </ul>
        </ng-template>


    </div>


</nav>