<div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (ngSubmit)="registroUsuarios()" [formGroup]="registroForm" class="login100-form validate-form flex-sb flex-w">

                <div class="container"><br>
                    <span class="login100-form-title p-b-51">
                    CREAR UNA CUENTA
                </span>


                    <div class="wrap-input100 m-b-16 form-group">
                        <input class="input100" type="email" name="email" formControlName="email" placeholder="CORREO">

                        <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100 m-b-16 form-group" data-validate="Password is required">
                        <input class="input100" type="password" name="password" formControlName="password" placeholder="CONTRASEÑA">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" type="submit">
                        REGISTRAR
                    </button>
                    </div><br>

                </div>
            </form>
        </div>
    </div>
</div>