<div>
    <hr>
    <h1 id="titulo">TRAYECTORIA</h1>
    <hr>
    <div class="accordion animated fadeIn fast" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  FUNDADORA
                </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed btn-block" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  HISTORIA
                </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header " id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed btn-block" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        UBICACIÓN Y DESCRIPCION DE LA INSTITUCION.
                </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <h1 id="titulo">Ubicación</h1>
                    <hr> El Jardín Infantil La Casita Encantada está ubicado en la Cra 9 No 6-75 del Barrio Las Villas, municipio de Paz de Ariporo- Casanare a dos cuadras del campo deportivo llamado Villa Olímpica, a dos cuadras del parque Ecológico Juan
                    Nepomuceno Moreno. Cuenta con una sola sede construida en una sola planta, su construcción es antigua y se han hecho adecuaciones teniendo en cuenta las necesidades como iluminación, ambientación, embellecimiento, construcción de unidades
                    sanitarias, parque, patio de recreo, etc. Cuenta con 5 salones que se emplean como aulas de clase para los niveles de Párvulos, prejardín, Jardín A, Jardín B y Transición. Salón donde se guardan los instrumentos musicales de la banda,
                    juguetes, material didáctico. Una cocina, que se utiliza en eventos para distribución de alimentos, agua, refrigerios etc. Un kiosco en techo de palma que es utilizado para reuniones de docentes, Consejo Directivo o Académico.
                    <hr>
                    <h1 id="titulo">Uniformes</h1>
                    <hr> En el Jardín se utilizan dos uniformes: Uniforme de diario y uniforme de Educación física y deporte.
                    <hr>
                    <div class="row ">
                        <div class="col ">
                            <h2 id="titulo">Uniforme de las niñas</h2><br> Está conformado por dos piezas: Jardinera en tela escocés de cuadros pequeños de color rojos y blancos con blusa de color blanco manga bombacha y cuello bebé, zapatos negros tipo Mafalda con medias
                            blancas.
                            <br><br>
                            <img src="../../../assets/uniformeNinas.jpg" height="300px" width="auto" alt="">
                        </div>
                        <div class="col">
                            <h2 id="titulo">Uniforme de las niños</h2><br> Bata estilo médico de tela escocés cuadros pequeños blanco y rojos con abotonadura al lado izquierdo y bolsillo grande en la parte de abajo. Pantalón largo en lino de color azul oscuro con bolsillos
                            grandes a los lados.
                            <br><br>
                            <img src="../../../assets/uniformeNinos.jpg" height="300px" width="auto" alt="">
                            <hr>


                        </div>
                    </div>
                    <h2 id="titulo">UNIFORME DE EDUCACION FISICA Y DEPORTE:</h2>
                    <hr> El uniforme de física es igual para niños y niñas y se compone de: Sudadera de color rojo con camiseta de color rojo combinado con verde, tenis de color blanco.
                    <br><br>
                    <div class="row">
                        <div class="col">
                            <h2 id="titulo">Uniforme de las niñas</h2><br><br>
                            <img src="../../../assets/uniformeNinasEd.jpg" height="300px" width="auto" alt="">
                        </div>
                        <div class="col">
                            <h2 id="titulo">Uniforme de las niños</h2><br><br>
                            <img src="../../../assets/uniformeNinosEd.jpg" height="300px" width="auto" alt="">
                        </div>
                    </div>
                    <hr>
                    <h1 id="titulo">UNIFORME DE GALA:</h1>
                    <hr> Es utilizado por el nivel de último año (transición) en ceremonia de graduación está conformado por:Toga de satín color rojo con blanco.(para niños y niñas), Birrete de satín de color rojo. (para niños y niñas)

                    <hr>
                    <div class="row">
                        <div class="col">
                            <h2 id="titulo">UNIFORME DE GALA NIÑAS: </h2><br> Falda de cuadros rojos y azules (modelo exclusivo) y blusa blanca de manga corta, cuello estilo bebé con corbatín, medias blancas a la rodilla y zapatos negros.
                        </div>
                        <div class="col">
                            <h2 id="titulo">UNIFORME DE GALA NIÑOS: </h2><br> Pantalón en lino azul oscuro y camisa blanca de manga larga, corbata del color de la falda de las niñas, zapatos negros.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <img src="../../../assets/uniformeGala.jpg" height="300px" width="auto" alt="">
                        </div>
                        <div class="col"></div>
                    </div>



                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed btn-block" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        SIMBOLOS DE LA INSTITUCION
                </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <h1 id="titulo">NUESTRA BANDERA</h1>
                    <hr> Se hizo una convocatoria para diseño de la bandera del Jardín participando docentes y padres de familia y fue elegido el diseño que desde hace 10 años forma parte de los símbolos más representativos de nuestra institución. Tiene forma
                    rectangular y sus colores son: Rojo, verde y blanco.
                    <hr>
                    <h2 id="titulo">Color rojo</h2>
                    Representa la alegría y el amor con que se realiza cada trabajo en la institución.
                    <hr>
                    <h2 id="titulo">Color verde</h2>
                    Representa la esperanza que tenemos en los niñas y niñas presente y futuro de nuestra sociedad.
                    <hr>
                    <h2 id="titulo">Color blanco</h2>
                    Representa la armonía y la Paz de nuestros corazones humildes y sencillos.
                    <br><br>
                    <div class="row">
                        <div class="col">
                            <h2 id="titulo">BANDERA</h2>
                            <img src="../../../assets/bandera.jpg" height="300px" width="auto" alt="">
                        </div>
                        <div class="col">
                            <h2 id="titulo">NUESTRO ESCUDO</h2>
                            <img src="../../../assets/escudo.jpg" height="300px" width="auto" alt="">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h1 id="titulo">NUESTRO HIMNO</h1><br> Escrito por la exalumna Astrid Carolina Gutiérrez, se encuentra en estudio para hacer ajustes musicales e institucionalizarlo.
                            <hr>
                            <h3 id="titulo">ESTROFA 1</h3>
                            Hay un lugar en el mundo en el que siempre quiero estar Sus colores rojo, blanco y verde su escudo es libertad Mi casita encantada, es mi segundo hogar Mi Casita Encantada, es mi felicidad.
                            <hr>
                            <h3 id="titulo">CORO</h3>
                            Soy un marinero que navegando va, Aprendiendo cosas nuevas, Cada día más y más…, Mi vestido es la alegría, Mi sueño es de bondad, Mi colegio es mi casita, Mi futuro es encantar…
                            <hr>
                            <h3 id="titulo">ESTROFA 2</h3>
                            Tengo unas maestras que me enseñan con amor, Que me hablan de valores cantando una canción, En cariño y en respeto ellas son un don, Educándonos a todos con mucha devoción, Mi casita Encantada es mi segundo hogar.., Mi casita encantada es mi felicidad..,
                            CORO…
                            <hr>
                            <h3 id="titulo">ESTROFA 3</h3>
                            Cuando sea grande, cuando sea mayor, Te tendré casita aquí en mi corazón , Recordaré a mis amigos y mi formación, Que desde chiquito siempre se hizo con amor, Mi casita encantada es mi segundo hogar, Mi casita encantada, es mi felicidad.., CORO….
                        </div>
                        <div class="col">
                            <h1 id="titulo">ORACION INSTITUCIONAL</h1>
                            <hr> Fue adoptada hace algunos años por parte de la Asociación Nacional de Colegios privados ANDERCOP, modificada por la Licenciada Miladys Gutiérrez Oropeza y se utiliza al iniciar todo evento en el Jardín Infantil LA CASITA ENCANTADA.
                            <hr> Dios Padre Todo poderoso Tuyo es la tierra y todo lo que En ella se contiene, Alzamos nuestras voces invocando Tu santo nombre Para que estés con nosotros En cada uno de los actos de nuestra vida. Como educadoras y padres
                            de familia Alumbra nuestro entendimiento Para guiar por sendero verdadero Y seguro a los niños y niñas de hoy.. Hombres y mujeres del mañana.. Has de La Casita Encantada Un lugar grande y eficiente Donde reine la Amistad, la
                            libertad, El respeto, La honestidad, la justicia, La esperanza…la humildad, La solidaridad.. La alegría, la responsabilidad…… El amor, la tolerancia, La cooperación y la PAZ.
                            <h4 id="titulo">AMEN.</h4>

                        </div>
                    </div>





                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed btn-block " type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                 HORIZONTE INSTITUCIONAL
               </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    El Jardín Infantil LA CASITA ENCANTADA, pretende posicionarse como la mejor institución educativa privada del municipio, teniendo como referencia los objetivos alcanzados a través del tiempo de vida con resultados altamente destacados.
                    <hr>
                    <h1 id="titulo">MARCO LEGAL</h1>
                    <p>
                        Se cumplen los lineamientos generales del M.E.N. Ley 115, artículo 16, correspondientes a la educación preescolar, reglamentados en el decreto 1860 de 1994 ley 115, constitución política de Colombia Resolución 2343 de 1995, estatuto docente, Ley de Infancia
                        y Adolescencia.
                    </p>
                    <hr>
                    <h1 id="titulo">MARCO INSTITUCIONAL</h1>
                    <p>
                        En febrero 18 de 1991, la institución dio apertura al servicio teniendo la necesidad y demanda de una sociedad exigente, para mejorar las condiciones de los niños entre 2 y 5 años. Consigue licencia de iniciación de labores según Acta de visita No 123
                        en octubre 11 de 1991. Licencia de Aprobación de estudios según Resolución 1123 en 1994, de la secretaría de Educación departamental. Última resolución de Aprobación de estudios 1148 del 2000 emitida por la secretaría de educación
                        del departamento de Casanare.
                    </p>
                    <hr>
                    <h1 id="titulo">NUESTRA MISIÓN</h1>

                    <p>Nuestro Jardín como institución educativa Pretende contribuir al desarrollo integral de los niños y niñas en edad preescolar, teniendo en cuenta los valores humanos y la práctica de las virtudes morales con un enfoque personalizado
                        social y ecológico con el propósito de que el niño o niña vivencie su propia realidad e irradie un comportamiento de respeto y sana convivencia en el medio social en el cual crezca y se desempeñe en un futuro. </p>
                    <hr>
                    <h1 id="titulo">NUESTRA VISIÓN</h1>
                    <p>
                        El Jardín Infantil LA CASITA ENCANTADA para el año 2025, busca ser reconocida a nivel regional y nacional por su liderazgo y fortalecimiento del desarrollo integral de niños y niñas como ciudadanos líderes de una sociedad basada en autonomía, tolerancia,
                        respeto, conciencia ecológica, Niños y niñas con una mente sana, reflexivos, dinámicos y felices con el fin de garantizar un futuro próspero para nuestro país.
                    </p>
                    <hr>
                    <h1 id="titulo">FILOSOFIA</h1>
                    <p>
                        El Jardín Infantil LA CASITA ENCANTADA, pretende realizar un trabajo con los niños y niñas en edad preescolar y la comunidad educativa partiendo del lema “Con amor, paciencia y disciplina construiremos un futuro mejor para Casanare y Colombia”. Esto significa
                        que los niños son y serán la razón de ser en todas las circunstancias tratándolos con responsabilidad, respeto y ternura con el fin de contribuir con una sociedad más justa, comprometida con la democracia, el medio ambiente y la
                        Paz.
                    </p>
                    <hr>
                    <h1 id="titulo">OBJETIVO GENERAL</h1>
                    <p>
                        Fortalecer el proceso de formación integral de niños y niñas junto con la comunidad educativa del Jardín Infantil La Casita Encantada, la cual presta una educación personalizada y humana capaz de transformar el medio que nos rodea, en búsqueda de una
                        calidad de vida, donde primen los valores humanos, teniendo en cuenta las innovaciones educativas pedagógicas y las expectativas de la comunidad educativa.
                    </p>
                    <hr>
                    <h1 id="titulo">OBJETIVOS ESPECIFICOS</h1>
                    <p>
                        1. Estimular la formación de valores y buscar alternativas que conduzcan a una mejor convivencia entre los grupos sociales. 2. Estimular en el niño los aspectos Cognitivo, valorativo, comunicativo y corporal para desarrollar habilidades y destrezas. 3.
                        Brindar recursos especiales para que los niños desarrollen habilidades creativas. 4. Emplear el juego como herramienta lúdica indispensable para obtener buenos logros en los programas pedagógicos. 5. Impulsar programas dinámicos
                        donde se integren los padres, los alumnos y los docentes para crear un ambiente de amistad y cooperación. 6. Orientar al niño para que tome conciencia de la realidad social, que implique su participación en la toma de decisiones
                        y solución de problemas de acuerdo a su capacidad. 7. Diseñar talleres con padres y niños empleando materiales de desecho con el fin de desarrollar los procesos creativos y aprovechar los recursos del medio. 8. Sembrar en los niños
                        y niñas la identidad nacional mediante la formación de valores cívicos inculcándoles amor y respeto por su país, su departamento y su pueblo. 9. Incentivar a los niños y niñas para que tomen conciencia de la conservación del medio
                        ambiente. 10. Promover actividades recreativas y culturales como medio de integración con otras instituciones.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <hr>
    <h1 id="titulo">INSTALACIONES</h1>
    <hr>
    <div class="card" style="width: 18rem;">
        <img src="./assets/logo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <hr>
</div>