#botonesCentrados {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    color: #110D0D;
    background-color: #ffffff;
    position: fixed;
    bottom: 0px;
    height: 4%;
    width: 100%;
}

body {
    padding-bottom: 50px;
}


/* animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}