#botonesCentrados {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    color: #110D0D;
    background-color: #ffffff;
    position: fixed;
    bottom: 0px;
    height: 4%;
    width: 100%;
}

#oculto {
    display: none;
}

#regist {
    margin: 0 auto;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    border: 1px solid #666666;
    width: auto;
}

#bordes {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
}

#liCronograma {
    height: auto;
    width: 80px;
}

#carrucel {
    height: 350px;
}

#nombre {
    font-family: 'Times New Roman', Times, serif;
    height: auto;
    width: 100%;
}

#titulo {
    font-family: courier, arial, helvética;
    text-align: center
}

body {
    padding-bottom: 50px;
}